@inherits LayoutComponentBase

@inject IAuthenticationService authentication
@inject NavigationManager navManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <label>Hello World</label>
            <p class="text-primary">Hello User Full Name :)</p>
            <button class="btn btn-danger ml-md-auto" @onclick="@Logout">Logout</button>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code
{
    private async Task Logout()
    {
        await authentication.Logout();
        navManager.NavigateTo("/login");
    }
}
