@using WeeControl.Host.WebApiService
@page "/"
@attribute [Route(ApplicationPages.Essential.HomePage)]
@attribute [AllowAnonymous]
@inject ISecurity Security

@if (isAuthenticated)
{
    <HomePageComponent></HomePageComponent>
}

<p class="align-self-center">Here we put company introduction and required views for unregistered and registered customers.</p>

@code {
    private bool isAuthenticated;
    
    protected override async Task OnInitializedAsync()
    {
        isAuthenticated = await Security.IsAuthenticated();
        await base.OnInitializedAsync();
    }

}