@using WeeControl.Host.WebApiService.Contexts.Essentials
@using WeeControl.Host.WebApiService.Data
@using WeeControl.Frontend.Wasm.Pages.Essential.UserPageComponents
@attribute [Route(ApplicationPages.Essential.UserPage)]

<MudPaper Style="align-content: center; align-self: center; justify-content: center">
    <MudCard>
        <p>Here user details</p>
    </MudCard>
    <ChangePasswordComponent></ChangePasswordComponent>
    <MudDivider></MudDivider>
    <UserClaimsComponent></UserClaimsComponent>
</MudPaper>

@code {

}