@using WeeControl.Frontend.Wasm.Pages.Anonymous.Components

@attribute [Route(Pages.Essential.Home.HomePage)]

<MudPaper>
    <h3>HomeNewsComponent</h3>
    <HomePageComponent></HomePageComponent>
</MudPaper>

@code {
    
}