@using WeeControl.Frontend.ApplicationService.Essential.ViewModels
@attribute [Route(Pages.Essential.User.ForgotMyPasswordPage)]

@inject PasswordResetViewModel ResetViewModel

<div class="card">
    <h4 class="card-header">Please enter your username and and email address</h4>
    <div class="card-body">
        <EditForm Model="@ResetViewModel" OnValidSubmit="ResetViewModel.RequestPasswordReset">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="ResetViewModel.Email" type="email" class="form-control"/>
                <ValidationMessage For="@(() => ResetViewModel.Email)"/>
            </div>
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="ResetViewModel.Username" class="form-control"/>
                <ValidationMessage For="@(() => ResetViewModel.Username)"/>
            </div>
            <button class="btn btn-primary">
                @if (ResetViewModel.IsLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Request New Password
            </button>
        </EditForm>
    </div>
</div>

@code
{
    
}