@using WeeControl.User.UserApplication
@using WeeControl.User.UserApplication.ViewModels.Admin
@attribute [Route(Pages.Admin.Page)]
@inject AdminViewModel ViewModel

<h3>AdminPage</h3>
<div class="dropdown">
    <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Territory</th>>
            </tr>
            </thead>
            <tbody>
            @foreach (var t in ViewModel.ListOfUsers)
            {
                <tr>
                    <td>@t.Username</td>
                    <td>@t.Email</td>
                    <td>@t.TerritoryCode</td>
                </tr>
            }
            </tbody>
        </table>
</div>

@code {
    
}