@using WeeControl.User.UserApplication
@attribute [Route(Pages.Admin.Page)]
<h1>Admin Page</h1>

<div class="btn btn-info" onclick="@ToggleShow">
    <div hidden="@show">
        <b>THis is test</b>
    </div>
</div>
<ListOfUsersComponent></ListOfUsersComponent>

@code {
    bool show = false;

    private void ToggleShow()
    {
        show = show != true;
    }
}