@page "/Logout"
@using WeeControl.User.UserServiceCore.ViewModels.Authentication
@inject LogoutViewModel ViewModel

<h1>@ViewModel.GoodbyMessage</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await ViewModel.LogoutAsync();
        StateHasChanged();
    }
}