@page "/NewPassword"
@page "/Authentication/NewPassword"
@using Microsoft.AspNetCore.Components
@using WeeControl.User.UserServiceCore.ViewModels.Authentication
@using WeeControl.User.Wasm.Shared
@layout RestrictedLayout

@attribute [AllowAnonymous]
@inject SetNewPasswordViewModel ViewModel

<div class="card">
    <h4 class="card-header">Please enter your new password</h4>
    <div class="card-body">
        <EditForm Model="@ViewModel" OnValidSubmit="ViewModel.ChangeMyPassword">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Old Password</label>
                <InputText @bind-Value="ViewModel.OldPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => ViewModel.OldPassword)"/>
                </div>
            <div class="form-group">
                <label>New Password</label>
                <InputText @bind-Value="ViewModel.NewPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => ViewModel.NewPassword)"/>
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                <InputText @bind-Value="ViewModel.ConfirmNewPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => ViewModel.ConfirmNewPassword)"/>
            </div>
            <button class="btn btn-primary">
                @if (ViewModel.IsLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Save
            </button>
        </EditForm>
    </div>
</div>

@code
{

}