@page "/Login"
@page "/Employee/Login"
@using WeeControl.SharedKernel.DtosV1.Employee
@layout RestrictedLayout

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Username</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" value="@loginDto.Username" />
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Password</span>
    </div>
    <input type="password" class="form-control" placeholder="Password" value="@loginDto.Password" />
</div>

<button class="btn btn-primary" type="submit" onclick="@ProcessLoginAsync()">Login</button>
<button class="btn btn-secondary" type="submit" onclick="@ProcessLoginAsync()">Forgot Password</button>

@code
{
    private CreateLoginDto loginDto = new();
    private string temp;

    private async Task ProcessLoginAsync()
    {
        temp = loginDto.Username;
        await Task.CompletedTask;
    }
}
