@page "/HumanResource/Territory"
@page "/HumanResource/Territory/{TerritoryId:guid}"
@layout MinimalLayout

<h1>Territory Details</h1>
<p>TerritoryName</p>
<p>Territory id is: @TerritoryId</p>

@code{
    [Parameter]
    public Guid TerritoryId { get; set; }
}