@using WeeControl.Core.SharedKernel
@using System.Security.Claims
@using WeeControl.Core.SharedKernel.Contexts.Essentials
@using WeeControl.Host.WebApiService
@using WeeControl.Host.WebApiService.Contexts.Essentials
@inject IHomeService Home
@inject ISecurity Security


<MudPaper>
    <MudGrid>
        <MudItem xs="6">
            <MudStack>
                @if (feeds.Any())
                {
                    @foreach (var f in feeds)
                    {
                        <MudCard>
                            <h4>@f.FeedSubject</h4>
                            <p>Published at @f.FeedTs</p>
                            <p>@f.FeedBody</p>
                        </MudCard>
                    }
                }
                else
                {
                    <p>There is no feeds to show right now.</p>
                }
            </MudStack>
        </MudItem>
        <MudItem xs="6">

        </MudItem>
    </MudGrid>
</MudPaper>



@code
{
    private IEnumerable<HomeFeedModel> feeds = new List<HomeFeedModel>();

    protected override async Task OnInitializedAsync()
    {
        await Home.Refresh();
        feeds = Home.Feeds;
    }
}
