@using Microsoft.IdentityModel.Tokens
@using WeeControl.Core.DomainModel.Essentials
<MudPaper Outlined="true" MaxWidth="200" MaxHeight="300" Style="background-color: #1b6ec2">
    @if (Notifications.IsNullOrEmpty())
    {
        <p>No Notifications Right Now.</p>
    }
    else
    {
        @foreach (var n in Notifications)
        {
            <MudItem>
                <MudCard>
                    <p>@n.Subject</p>
                    <p>@n.Body</p>
                    <p>@n.PublishedTs</p>
                </MudCard>
            </MudItem>
        }
    }
</MudPaper>


@code {

    [Parameter] public IEnumerable<HomeNotificationModel> Notifications { get; set; }

}