@inject IUserService UserService

<MudCardHeader>Please enter your username and and email address</MudCardHeader>
<MudCardContent>
    <EditForm Model="@passwordResetModel" OnValidSubmit="@(() => UserService.RequestPasswordReset(passwordResetModel))">
        <DataAnnotationsValidator/>
        <div class="form-group">
            <label>Email</label>
            <InputText @bind-Value="passwordResetModel.Email" type="email" class="form-control"/>
            <ValidationMessage For="@(() => passwordResetModel.Email)"/>
        </div>
        <div class="form-group">
            <label>Username</label>
            <InputText @bind-Value="passwordResetModel.Username" class="form-control"/>
            <ValidationMessage For="@(() => passwordResetModel.Username)"/>
        </div>
        <button class="btn btn-primary">
            @if (UserService.IsLoading)
            {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            Forgot Password
        </button>
    </EditForm>
</MudCardContent>

@code {
    private readonly PasswordResetModel passwordResetModel = new();
}