@using WeeControl.Host.WebApiService.Contexts.Essentials
@using WeeControl.Core.SharedKernel.Contexts.Essentials
@inject IHomeService Home

@foreach (var n in notifications)
{
    <MudMenuItem>
        <MudCard>
            <p>@n.Subject</p>
            <p>@n.Body</p>
            <p>@n.PublishedTs</p>
        </MudCard>
    </MudMenuItem> 
}

@code
{
    private IEnumerable<HomeNotificationModel> notifications = new List<HomeNotificationModel>();

    protected override async Task OnInitializedAsync()
    {
        notifications = await Home.GetNotifications();
        await base.OnInitializedAsync();
    }
}
