@attribute [Route(Pages.User.RequestNewPassword)]
@layout RestrictedLayout

@inject ForgotMyPasswordViewModel ViewModel
@attribute [AllowAnonymous]

<div class="card">
    <h4 class="card-header">Please enter your username and and email address</h4>
    <div class="card-body">
        <EditForm Model="@ViewModel" OnValidSubmit="ViewModel.RequestPasswordReset">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="ViewModel.Email" type="email" class="form-control"/>
                <ValidationMessage For="@(() => ViewModel.Email)"/>
            </div>
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="ViewModel.Username" class="form-control"/>
                <ValidationMessage For="@(() => ViewModel.Username)"/>
            </div>
            <button class="btn btn-primary">
                @if (ViewModel.IsLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Request New Password
            </button>
        </EditForm>
    </div>
</div>

@code
{
    
}