@using WeeControl.Frontend.ApplicationService.Interfaces
@using WeeControl.Frontend.ApplicationService
@using WeeControl.Frontend.Wasm.Shared
@attribute [Route(Pages.Shared.NoInternetPage)]
@inject IDevicePageNavigation Navigation
@layout RestrictedLayout

<h3>NoInternet</h3>

<button class="btn btn-primary" @onclick=@GoBack>Try Again</button>

@code {

    private Task GoBack()
    {
        return Navigation.GoBackAsync();
    }
}