@page "/"
@using WeeControl.Frontend.ApplicationService
@using WeeControl.Frontend.ApplicationService.Essential.Legacy
@using WeeControl.Frontend.Wasm.Shared
@attribute [Route(Pages.Shared.SplashPage)]
@layout RestrictedLayout
@attribute [AllowAnonymous]

@inject SplashLegacyViewModel LegacyViewModel

<h3>@LegacyViewModel.SplashText</h3>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    
    [Inject]
    public NavigationManager NavManager { get; set; }
    
    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();
        // var user = (await AuthState).User;
        // if (user?.Identity?.IsAuthenticated == false)
        // {
        //     NavManager.NavigateTo("login");
        // }
        // else
        // {
        //     NavManager.NavigateTo("Index");
        // }

        await LegacyViewModel.LoadAsync();
    }
}