@using WeeControl.SharedKernel.Essential.DataTransferObjects
@using WeeControl.User.UserApplication.ViewModels.Essential
@inject TerritoryViewModel ViewModel

<div class="card">
    <h4 class="card-header">Territory</h4>
    <div class="card-body">
        <EditForm Model="@modelDto" OnValidSubmit="@AddOrEditAsync">
            <DataAnnotationsValidator></DataAnnotationsValidator>
            <div class="form-group">
                <label>Territory ID</label>
                <InputText @bind-Value="modelDto.TerritoryCode" readonly="@ViewModel.IsLoading" class="form-control"/>
                <ValidationMessage For="@(() => modelDto.CountryCode)"/>
            </div>
            
        </EditForm>
    </div>
</div>

@code {
    private readonly TerritoryModelDto modelDto = new TerritoryModelDto();

    private Task AddOrEditAsync()
    {
        return ViewModel.AddOrUpdateTerritory(modelDto);
    }
}