@using WeeControl.User.UserServiceCore.Interfaces
@inherits LayoutComponentBase

@inject NavigationManager NavManager
@inject IDeviceStorage localStorage


<div class="page">
    <div class="sidebar">
        <NavMenu></NavMenu>
    </div>

    <div class="main">
        @* <div class="top-row px-4"> *@
        @*     <div class="row justify-content-between"> *@
        @*         <div> *@
        @*             <p class="text-primary ml-md-auto">@greetingMessage</p> *@
        @*         </div> *@
        @*         <div> *@
        @*             <button class="btn btn-danger ml-md-auto" @onclick="@OpenChangePasswordWindow">Change Password</button> *@
        @*             <Logout>Logout</Logout> *@
        @*         </div> *@
        @*     </div> *@
        @* </div> *@

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>


@code
{
    
}
