@page "/ForgotPassword"
@page "/Authentication/ForgotPassword"
@using WeeControl.SharedKernel.Essential
@using WeeControl.User.Wasm.Shared
@using WeeControl.SharedKernel.Essential.DataTransferObjects
@layout RestrictedLayout

@inject NavigationManager NavManager
@inject IUserService UserService
@attribute [AllowAnonymous]

<div class="card">
    <h4 class="card-header">Please enter your username and and email address</h4>
    <div class="card-body">
        <EditForm Model="@resetPutNewPasswordDtoV1" OnValidSubmit="RequestPasswordReset">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="resetPutNewPasswordDtoV1.Email" type="email" class="form-control"/>
                <ValidationMessage For="@(() => resetPutNewPasswordDtoV1.Email)"/>
            </div>
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="resetPutNewPasswordDtoV1.Username" class="form-control"/>
                <ValidationMessage For="@(() => resetPutNewPasswordDtoV1.Username)"/>
            </div>
            <button class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Request New Password
            </button>
            @if (!string.IsNullOrEmpty(stringAlert))
            {
                <div class="alert alert-danger mt-3 mb-0">@stringAlert</div>
            }
        </EditForm>
    </div>
</div>

@code
{
    private PutNewPasswordDtoV1 resetPutNewPasswordDtoV1 = new();
    private bool loading;
    private string stringAlert;

    private async Task RequestPasswordReset()
    {
        loading = true;
        await UserService.ForgotPasswordAsync(resetPutNewPasswordDtoV1);
        NavManager.NavigateTo("/login");
    }
}