@page "/ForgotPassword"
@page "/Authentication/ForgotPassword"
@layout RestrictedLayout

@inject NavigationManager navManager
@inject IAuthenticationService authentication

@using WeeControl.SharedKernel.DtosV1.Employee
@using WeeControl.Frontend.Wasm.Services
@attribute [AllowAnonymous]

<div class="card">
    <h4 class="card-header">Please enter your username and and email address</h4>
    <div class="card-body">
        <EditForm Model="@resetPasswordDto" OnValidSubmit="RequestPasswordReset">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="resetPasswordDto.Username" class="form-control"/>
                <ValidationMessage For="@(() => resetPasswordDto.Username)"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="resetPasswordDto.EmailAddress" type="email" class="form-control"/>
                <ValidationMessage For="@(() => resetPasswordDto.EmailAddress)"/>
            </div>
            <button class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Request New Password
            </button>
            @if (!string.IsNullOrEmpty(stringAlert))
            {
                <div class="alert alert-danger mt-3 mb-0">@stringAlert</div>
            }
        </EditForm>
    </div>
</div>

@code
{
    private ResetPasswordDto resetPasswordDto = new();
    private bool loading;
    private string stringAlert;

    public Task RequestPasswordReset()
    {
        stringAlert = "Toast is successful";
        throw new Exception("Test ya pro");
        return Task.CompletedTask;
    }
}