@page "/ForgotPassword"
@page "/Authentication/ForgotPassword"
@using WeeControl.Common.SharedKernel.DataTransferObjects.Authorization.User
@using WeeControl.Common.FunctionalService.BoundedContexts.Authorization
@layout RestrictedLayout

@inject NavigationManager navManager
@inject IUserOperation authentication
@attribute [AllowAnonymous]

<div class="card">
    <h4 class="card-header">Please enter your username and and email address</h4>
    <div class="card-body">
        <EditForm Model="@resetPasswordDto" OnValidSubmit="RequestPasswordReset">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="resetPasswordDto.Username" class="form-control"/>
                <ValidationMessage For="@(() => resetPasswordDto.Username)"/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="resetPasswordDto.Email" type="email" class="form-control"/>
                <ValidationMessage For="@(() => resetPasswordDto.Email)"/>
            </div>
            <button class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Request New Password
            </button>
            @if (!string.IsNullOrEmpty(stringAlert))
            {
                <div class="alert alert-danger mt-3 mb-0">@stringAlert</div>
            }
        </EditForm>
    </div>
</div>

@code
{
    private ForgotPasswordDto resetPasswordDto = new();
    private bool loading;
    private string stringAlert;

    public Task RequestPasswordReset()
    {
        loading = true;
        stringAlert = "Not Implemented Yet!";
        return Task.CompletedTask;
    }
}