@using WeeControl.Common.BoundedContext.Credentials
@using WeeControl.Common.SharedKernel.Interfaces
@using WeeControl.Frontend.Wasm.Interfaces
@inject IUserOperation authentication
@inject NavigationManager navManager
@inject IUserStorage userStorage
@inject ISecurityService bla

<button class="btn btn-danger ml-md-auto" @onclick="@LogoutUser">
    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
    Logout
</button>

@code {
    private bool loading;
    private async Task LogoutUser()
    {
        loading = true;
        await userStorage.ClearAsync();
        await authentication.LogoutAsync();
        StateHasChanged();
        //bla.Update(null);
        navManager.NavigateTo("/login", true);
    }
}