@page "/NewPassword"
@page "/Authentication/NewPassword"
@using Microsoft.AspNetCore.Components
@using WeeControl.Common.SharedKernel.DataTransferObjects.Essential.User
@using WeeControl.Frontend.FunctionalService.EssentialContext
@layout RestrictedLayout

@attribute [AllowAnonymous]
@inject NavigationManager navManager
@inject IUserOperation authentication

<div class="card">
    <h4 class="card-header">Please enter your new password</h4>
    <div class="card-body">
        <EditForm Model="@dto" OnValidSubmit="SetNewPassword">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>New Password</label>
                <InputText @bind-Value="dto.Password" type="password" class="form-control"/>
                <ValidationMessage For="@(() => dto.Password)"/>
            </div>
            <div class="form-group">
                <label>Repeat Password</label>
                <InputText @bind-Value="dto.ConfirmPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => dto.Password)"/>
            </div>
            <button class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Save
            </button>
            @if (!string.IsNullOrEmpty(stringAlert))
            {
                <div class="alert alert-danger mt-3 mb-0">@stringAlert</div>
            }
        </EditForm>
    </div>
</div>

@code
{
    private UpdatePasswordDto dto = new();
    private bool loading;
    private string stringAlert;

    private void SetNewPassword()
    {
        loading = true;
        if (dto.Password == dto.ConfirmPassword)
        {
            stringAlert = String.Empty;
        }
        else
        {
            stringAlert = "Both passwords are not matched!";
        }
        loading = false;
    }
}