@using WeeControl.Frontend.ApplicationService
@using WeeControl.Frontend.ApplicationService.Essential.ViewModels
@using WeeControl.Frontend.Wasm.Shared
@attribute [Route(Pages.Essential.User.ForgotMyPasswordPage)]
@layout RestrictedLayout

@inject PasswordResetLegacyViewModel ResetLegacyViewModel
@attribute [AllowAnonymous]

<div class="card">
    <h4 class="card-header">Please enter your username and and email address</h4>
    <div class="card-body">
        <EditForm Model="@ResetLegacyViewModel" OnValidSubmit="ResetLegacyViewModel.RequestPasswordReset">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="ResetLegacyViewModel.Email" type="email" class="form-control"/>
                <ValidationMessage For="@(() => ResetLegacyViewModel.Email)"/>
            </div>
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="ResetLegacyViewModel.Username" class="form-control"/>
                <ValidationMessage For="@(() => ResetLegacyViewModel.Username)"/>
            </div>
            <button class="btn btn-primary">
                @if (ResetLegacyViewModel.IsLoading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Request New Password
            </button>
        </EditForm>
    </div>
</div>

@code
{
    
}