@attribute [Route(Pages.Shared.NoInternetPage)]
@using WeeControl.User.UserApplication.Interfaces
@inject IDevicePageNavigation Navigation
@layout RestrictedLayout

<h3>NoInternet</h3>

<button class="btn btn-primary" @onclick=@GoBack>Try Again</button>

@code {

    private Task GoBack()
    {
        return Navigation.GoBackAsync();
    }
}