@page "/"
@attribute [Route(Pages.Shared.SplashPage)]
@using WeeControl.User.UserApplication.ViewModels.Home
@layout RestrictedLayout
@attribute [AllowAnonymous]

@inject SplashViewModel ViewModel

<h3>@ViewModel.SplashText</h3>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }
    
    [Inject]
    public NavigationManager NavManager { get; set; }
    
    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();
        // var user = (await AuthState).User;
        // if (user?.Identity?.IsAuthenticated == false)
        // {
        //     NavManager.NavigateTo("login");
        // }
        // else
        // {
        //     NavManager.NavigateTo("Index");
        // }

        await ViewModel.LoadAsync();
    }
}