@using WeeControl.Frontend.ApplicationService
@using WeeControl.Frontend.ApplicationService.Essential.Legacy
@attribute [Route(Pages.Essential.Authentication.LogoutPage)]
@inject LogoutLegacyViewModel LegacyViewModel

<h1>@LegacyViewModel.GoodbyMessage</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await LegacyViewModel.LogoutAsync();
    }
}