@using WeeControl.Frontend.ApplicationService.Essential.Authorization
@using WeeControl.Frontend.ApplicationService
@attribute [Route(Pages.Essential.Authentication.LogoutPage)]
@inject LogoutViewModel ViewModel

<h1>@ViewModel.GoodbyMessage</h1>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await ViewModel.LogoutAsync();
    }
}